<ion-app>
  <ion-menu id="menu-avatar">
    <ion-content>   
      <ion-list no-lines class="ion-list-hydrated">
        <ion-menu-toggle>
          <ion-item (click)="home()">
            <ion-icon name="home" slot="start"></ion-icon>
            <ion-label>Home</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item (click)="register()">
            <ion-icon name="create" slot="start"></ion-icon>
            <ion-label>Registros</ion-label>
          </ion-item>
        </ion-menu-toggle>

        <ion-menu-toggle>
          <ion-item (click)="logout()">
            <ion-icon name="log-out" slot="start"></ion-icon>
            <ion-label>Logout</ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
    
      </ion-content>
    
    </ion-menu>
  
  <ion-router-outlet main></ion-router-outlet>
</ion-app>
