<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Lista De Video Juegos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-list>
    <ion-item-sliding *ngFor="let videojuegos of videojuegos">
      <ion-item>
        <ion-label>
          <h2> {{ videojuegos.data().calificacion }} </h2>
          <h3> {{ videojuegos.data().nombre }} </h3>
          <h3> {{ videojuegos.data().precio }} </h3>
          <h3> {{ videojuegos.data().tipo }} </h3>
        </ion-label>
      </ion-item>

      <ion-item-options side="end">
        <ion-item-option color="secondary" (click)="markCompleted(todo)">
          <ion-icon name="checkmark"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>